.circle {
    background: #6A00D5;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 7.7vh;
    height: 7.7vh;
    margin: 0.7vh 1.3vw 0.7vh 0;
    border: none;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circle:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.404);
    color: #fff;
    text-align: center;
    border-radius: min(0.7vh,0.34vw);
    padding: 0.7vh 1vw;
    transition: opacity 100ms ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }

.circle:hover:before {
    opacity: 1;
    visibility: visible;
  }

.rect{
  background: #6A00D5;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: min(2.8vh,1.33vw);
  padding: 0.7vh 0.67vw;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: min(2vh,1vw);
  display: inline-block;
  }