.bg {
    background-color: #6A00D5;
    color: white;
    padding: 1vh 1vw;
    font-size: 1.67vw;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.footer{
    text-align: center;
}

.txt {
    display: block;
    padding: 0px 1vw;
}

.sections{
    display: flex;
}
