.bg{
    background-color: #ffffff;
    height:min(100vh,max-content);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
    width: 100vw;
}

.flex{
    margin:7vh 1.33vw 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wrap{
    margin:1.4vh 0 0;
    display: flex;
    flex-wrap: wrap;
}

.header{
    padding: 1.4vh 1.33vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading{
    font-size: min(7vh,3.34vw);
}

.subheading{
    font-size:min(2.8vh,1.33vw)
}

.preface{
    font-size:min(1.95vh,0.94vw)
}

.img{
    height: 50vh;
    width: auto;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100%;
    border-radius: 2.8vh;
    margin: 2.8vh 0;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.slidesholder{
    width: 50vw;
    margin: 3.5vh 1.68vw;
    border-radius: min(5.6vh,2.67vw);
    padding: 0 0.67vw;
}

.desc{
    margin: 1.4vh 1.3vw;
    padding: 1.4vh 1.67vw;
    font-size:min(1.95vh,0.94vw)
}