.bubble{
    border-radius: 10px;
    color: black;
    background-color: #F3B616;
    margin: 5px 15px 5px 0;
    padding: 7px 20px;
    font-size: 0.938rem;
}


@media only screen and (max-width: 1180px) {
    /* For mobile phones: */
    .bubble{
        margin: 4px 12px 4px 0;
        padding: 5px 15px;
        font-size: 0.7rem;
    }

  }



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .bubble{
        margin: 2.5px 7.5px 2.5px 0;
        padding: 3.5px 10px;
        font-size: 0.47rem;
        border-radius: 5px;
    }
  }

  
  @media only screen and (max-width: 368px) {
    /* For mobile phones: */
    .bubble{
        padding: 1.5px 5px;
        border-radius: 2.5px;
    }
  }

